<%- include("../includes/header.ejs", {title:"order_info - " + order_info[0].order_num}); %>
<h1>Order Number - <%= order_info[0].order_num %></h1>
<ul>
    <li>Order Date: <%= order_info[0].order_date %></li>
    <li>Product Name(s):
        <ul>
            <% for(var i=0; order_product.length > i; i++ ) { %>
            <li><%= order_product[i].product_name + ' ' + '|' + ' '
                + 'Quantity Ordered: ' + order_product[i].quantity%></li>
            <% } %>
        </ul>
    </li>
    <li>Coupon Code: <%= order_info[0].coupon_code%></li>

</ul>
<a href="/order_info/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
