<%- include("../includes/header.ejs", {title:"order_info - " + order_info[0].order_num}); %>
<h1>Order Number - <%= order_info[0].order_num %></h1>
<ul>
    <li>Order Date: <%= order_info[0].order_date %></li>
    <li>Product Name: <%= order_product[0].product_name%></li>
    <li>Quantity Ordered: <%= order_product[0].quantity%></li>
    <li>Coupon Code: <%= order_info[0].coupon_code%></li>

</ul>
</body>

</html>
