<html>
<head>
    <title>Shipping</title>
</head>
<body>
<h1>Shipping</h1>
<a href="/shipping/add">Add New Shipment</a> <br />

<br />

<table border="1">
    <tr><th>Tracking Number</th><th>Order Number</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/shipping/?tracking_num=<%= result[i].tracking_num %>"><%= result[i].tracking_num%></a></td>
        <td><a href="/order_info/?order_num=<%= result[i].order_num %>"><%= result[i].order_num %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/shipping/edit2/?tracking_num=<%= result[i].tracking_num %>'">Edit</button>
            <form action="/customer/delete/" style="display: inline">
                <input type="hidden" name="tracking_num" id="tracking_num" value="<%= result[i].tracking_num %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>