<%- include("../includes/header.ejs", {title:"Shipment - " + shipping[0].ship_date}); %>
<h1>Shipment - <%= shipping[0].ship_date%></h1>
<ul>
    <li>Shipment Date: <%= shipping[0].ship_date %></li>
    <li>Billing Address: <%= billing_address[0].ba_street_num + billing_address[0].ba_street_name +
                    billing_address[0].ba_city + ', ' + billing_address[0].ba_state + billing_address[0].ba_zip %></li>

    </li>Shipping Address:
        <ul>
            <% for(var i = 0; shipping_address.length >i; i++ ) { %>
                <li><%= shipping_address[i].sa_street_num + shipping_address[i].sa_street_name%> </li>
                <li><%= shipping_address[i].sa_city + ', ' + shipping_address[i].sa_state + shipping_address[i].sa_zip%></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/shipping/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
