<%- include("../includes/header.ejs", {title:"Customer - " + customer[0].first_name}); %>
<h1>Customers - <%= customer[0].fname + ' ' + customer[0].lname %></h1>
<ul>
    <li>Email: <%= customer[0].email %></li>
    <li>Customer Name: <%= customer[0].fname %> <%= customer[0].lname %></li>
    <li>Ambassador?: <%= customer[0].ifambassador %> </li>
    <li>Credit Card Number: <%= credit_card[0].card_number %> </li>
    <li>Order Number: <%= order_info[0].order_num %> </li>
</ul>
</body>

</html>
