<html>
<head>
    <title>Customer</title>
</head>
<body>
<h1>Customer</h1>
<a href="/customer/add">Add New Customer</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/customer/?customer_id=<%= result[i].customer_id %>"><%= result[i].fname%> <%= result[i].lname %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/customer/edit2/?customer_id=<%= result[i].customer_id %>'">Edit</button>
            <form action="/customer/delete/" style="display: inline">
                <input type="hidden" name="customer_id" id="customer_id" value="<%= result[i].customer_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>